#header{

    background-color:aquamarine;
    padding: 10px;
    top: 0;
    position: absolute;
    width: 100%;

}
#footer{

    background-color:rgb(45, 190, 142);
    padding: 10px;
    bottom: 0;
    position:absolute;
    width: 100%;
    

}
body{

background-color: beige;
font-family: 'IBM Plex Sans Thai Looped', sans-serif;

}
button{

    margin-top:150px ;
        width: 200px;
    font-size: 20px !important;
    
}

.header{

padding: 10px;
position: fixed;
width: 100%;
box-shadow: 5px 5px 20px rgba(5, 170, 170, 0.849);
font-weight: 900;

}